{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Startups
{% endblock title %}

{% block create_button %}
{% if perms.organizer.add_startup %}
    <a
       href="{% url 'organizer_startup_create' %}"
       class ="button button-primary">
    Create New Startup</a>
    {% endif %}
{% endblock create_button %}

{% block org_content %}
<h2>Startup List</h2>
    {% if perms.organizer.add_startup %}
    <div class="mobile">
        <a
           href="{% url 'organizer_startup_create' %}"
           class="button button-primary">
        Create New Startup</a> 
    </div>
    {% endif %}
<ul>
{% for startup in startup_list %}
    <li>
    <a href="{{ startup.get_absolute_url }}">
        {{ startup.name }}</a>
         {% if perms.organizer.change_startup or perms.organizer.delete_startup %}
		<ul class="inline">
            {% if perms.organizer.change_startup %}
			<li>
			<a 
               href="{{ startup.get_update_url }}"
               class="button">Edit Startup</a>
			</li>
            {% endif %}
            {% if perms.organizer.delete_startup %}
			<li>
			<a 
               href="{{ startup.get_delete_url }}"
               class="button">
                Delete Startup</a>
			</li>
            {% endif %}
		</ul>
        {% endif %}
    </li>
{% empty %}
    <li><em>No Startups Available</em></li>
{% endfor %}
</ul>
{% endblock org_content %}

{% block content_footer %}
{% if is_paginated %}
    <ul class="pagination">
    {% if previous_page_url %}
        <li>
            <a href="{{ previous_page_url }}">
            Previous</a>
        </li>
    {% endif %}
    {% if next_page_url %}
    <li>
        <a href="{{ next_page_url }}">
        Next
        </a>
    </li>
    {% endif %}
    </ul>
{% endif %}

<li>
Page {{ page_obj.number }} of {{paginator.num_pages }}
</li>
{% endblock content_footer %}